<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Forge Desktop"
      Manufacturer="Katasec"
      Version="0.1.0"
      UpgradeCode="{EF59886B-D52A-4AFE-832C-702F16CA0F02}"
      Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Forge Desktop is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Forge Desktop" />
    </StandardDirectory>

    <Feature Id="ForgeDesktop" Title="Forge Desktop" Level="1">
      <ComponentGroupRef Id="DesktopFiles" />
    </Feature>
  </Package>
</Wix>
